
/* Bar Chart Style modified from http://codepen.io/chelmyers/pen/ZQWxwm */

.chart-row {
  width: 100% !important;
  min-height: 60px !important;
  font-size: 0.85em !important;
  margin-top: 1em !important;
}
.chart-row .chart-caption {
  margin: 1em 0 23px !important;
}
.chart-row .bar-wrap {
  background-color: #f2f2f2 !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
  max-height: 40px !important;
  position: relative !important;
  -webkit-transition: all 350ms !important;
  transition: all 350ms !important;
}
.chart-row .chart-bar {
  height: 40px !important;
  display: inline-block !important;
  width: 0 !important;
  -webkit-transform-origin: left center !important;
          transform-origin: left center !important;
  -webkit-transition: width 500ms !important;
  transition: width 500ms !important;
  -webkit-animation: 750ms ease-out 300ms barBounce !important;
          animation: 750ms ease-out 300ms barBounce !important;
}
.chart-row span {
  display: inline-block !important;
  position: absolute !important;
  font-size: 0.85em !important;
  font-weight: bold !important;
  top: -1.70em !important;
}
.chart-row:hover .bar-wrap {
  background-color: #ddd !important;
}
.chart-row:nth-child(3n-3) .chart-bar {
  background-color: #0067ac !important;
}
.chart-row:nth-child(3n-2) .chart-bar {
  background-color: #a02842 !important;
}
.chart-row:nth-child(3n-1) .chart-bar {
  background-color: #007680 !important;
}
@media screen and (min-width: 550px) {
  .chart-row {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .chart-row .chart-caption {
    width: 200px !important;
    text-align: right !important;
    margin: 0 !important;
    padding-right: 1em !important;
  }
  .chart-row span {
    left: 0 !important;
    bottom: -1.25em !important;
    top: auto !important;
  }
}

.chart-xaxis {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100% !important;
  border-bottom: 1px solid #eee !important;
  padding-bottom: 0.5em !important;
  padding-left: 0 !important;
}
.chart-xaxis li {
  list-style: none !important;
}
@media screen and (min-width: 550px) {
  .chart-xaxis {
    padding-left: 200px !important;
  }
}

@-webkit-keyframes barBounce {
  0% {
    -webkit-transform: scaleX(1) !important;
            transform: scaleX(1) !important;
  }
  60% {
    -webkit-transform: scaleX(1.1) !important;
            transform: scaleX(1.1) !important;
  }
  75% {
    -webkit-transform: scaleX(0.9) !important;
            transform: scaleX(0.9) !important;
  }
  90% {
    -webkit-transform: scaleX(1.05) !important;
            transform: scaleX(1.05) !important;
  }
  100% {
    -webkit-transform: scaleX(1) !important;
            transform: scaleX(1) !important;
  }
}

@keyframes barBounce {
  0% {
    -webkit-transform: scaleX(1) !important;
            transform: scaleX(1) !important;
  }
  60% {
    -webkit-transform: scaleX(1.1) !important;
            transform: scaleX(1.1) !important;
  }
  75% {
    -webkit-transform: scaleX(0.9) !important;
            transform: scaleX(0.9) !important;
  }
  90% {
    -webkit-transform: scaleX(1.05) !important;
            transform: scaleX(1.05) !important;
  }
  100% {
    -webkit-transform: scaleX(1) !important;
            transform: scaleX(1) !important;
  }
}
* {
  box-sizing: border-box !important;
}

.bar-chart {
  max-width: 900px !important;
  margin: 1em !important;
}